<html>
    <body>
        {% for r in recipies %}
        <p>
        Title: {{recipies[r]["title"]}}<br>
        Date: {{recipies[r]["date"]}}<br>
        Text: {{recipies[r]["text"]}}<br>
        </p>
        {% endfor %}
    </body>
</html>