<html>
    <body>
        <h1> username: {{username}}</h1><br>
        <h3>Date of birth: {{dob}}</h3><br>
        <p>Biography: {{bio}}</p><br>
        <form id="form" action="/recipie" method="post">
            <input type="hidden" name="username" >
            <label><b>Title:</b></label>
            <input type="text" placeholder="Title" name="title">
            <br>
            <label><b>Enter recipie text</b></label>
            <br>
            <textarea name="recipie" placeholder="Text" form="form"></textarea>
        
            <div >
              <button type="submit" >Submit</button>
            </div>
        </form>
    </body>
</html>